{% extends 'layouts/layout.html' %}

{% block body %}

<div class="section">
    <div class="container">
        <h1 class="title is-1">Endpoints</h1>
        <ul>
            <li>
                GET <a class="link" href="#" url="/ptt"></a>
                <code>{"articles": [][], "url"}</code>
            </li>
            <li>
                GET <a class="link" href="#" url="/ptt?url=https://www.ptt.cc/bbs/Beauty/index1234.html"></a>
            </li>
            <li>
                GET <a class="link" href="#" url="/time"></a>
                <code id="time">{"unicode", "now", "timezone"}</code>
            </li>
            <li>
                GET <a class="link" href="#" url="/fruit"></a>
                <code id="fruit">{"unicode"}</code>
            </li>
            <li>
                GET <a class="link" href="#" url="/president"></a>
                <code id="president">{"time","content"}</code>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    var anchors = document.getElementsByClassName('link')
    var prefix = window.location.protocol + '//' + window.location.host
    for (var i = 0; i < anchors.length; i++) {
        anchors[i].textContent = anchors[i].getAttribute('url')
        anchors[i].setAttribute('href', prefix + anchors[i].getAttribute('url'))
        anchors[i].setAttribute('target', '_blank')
    }

    function render(type, url) {
        let xhr = new XMLHttpRequest()
        xhr.open('GET', `${prefix}/${url}`)
        xhr.onload = function() {
            if (xhr.status === 200) {
                let res = JSON.parse(xhr.responseText)
                if (type === 'emoji') {
                    document.getElementById(url).textContent += ` ${String.fromCodePoint(res.unicode)}`
                } else if (type === 'gov') {
                    document.getElementById(url).innerHTML += `<br>${res.time}<br>${res.content}`
                }
            } else {
                alert('Request failed.  Returned status of ' + xhr.status)
            }
        }
        xhr.send()
    }
    render('emoji', 'time')
    render('emoji', 'fruit')
    render('gov', 'president')
</script>
{% endblock %}