{% extends 'layouts/layout.html' %}

{% block body %}

<div class="section">
    <div class="container">        
        <h1 class="title is-1">End Points</h1>
        <ul>
            <li>
                GET <a class="link" href="#" url="/ptt"></a>
            </li>
            <li>
                GET <a class="link" href="#" url="/ptt?url=https://www.ptt.cc/bbs/Beauty/index1234.html"></a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    var anchors = document.getElementsByClassName('link')
    var prefix = window.location.protocol + '//' + window.location.host
    for (var i = 0; i < anchors.length; i++) {
        anchors[i].textContent = anchors[i].getAttribute('url')
        anchors[i].setAttribute('href', prefix + anchors[i].getAttribute('url'))
        anchors[i].setAttribute('target', '_blank')
    }
</script>
{% endblock %}